
.clear{clear: both;}
h4, h5, h6,
h1, h2, h3 {margin-top: 0;}
ul, ol {margin: 0;}
p {margin: 0;}
html, body{
	font-family: 'Open Sans', sans-serif;
	background:#fff;
	font-size: 100%;
	-webkit-font-ssoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#root{
	height: 100%;
}

body a{
 	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
/* Nav */
.header{
	background:#000;
	padding: 1.5% 0;
}
.header-left{
	float:left;
	width: 59%;
}
.logo{
	float:left;
	margin-right: 2%;
	width: "100"; 
	height:"50";
}
.menu{
	 float:left;
	 margin: 17px 0 0;
}
  .menu li{
	display:inline-block;
 }
 .menu li:first-child{
   	margin-left:0;
 }
 .menu li a{
  	 display: block;
	font-size: 0.8125em;
	text-transform: uppercase;
	padding: 5px 20px;
	color: #FFF;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	font-weight: 600;
 }
 .menu li a:hover ,.menu li.active a{
	 background:#fff;
	 color:#000;
 } 
 #nav .current a {
	 color:red;
}
.toggleMenu {
    display:  none;
  	padding:4px 5px 0px 5px;
}
.nav:before,
.nav:after {
    content: " "; 
    display: table; 
}
.nav:after {
    clear: both;
}
.nav ul {
    list-style: none;
}

.header_right{
	float:right;
	width:6%;
	margin-top: 16px;
}
.sb-search {
	position: absolute;
	top:7px;
	right:0px;
	width: 0%;
	min-width: 45px;
	height: 45px;
	float: right;
	overflow: hidden;
	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	transition: width 0.3s;
	-webkit-backface-visibility: hidden;
}
.sb-search-input {
	position: absolute;
	top: 0;
	left: 0px;
	border: none;
	outline: none;
	background:#333;
	width: 100%;
	height:45px;
	margin: 0;
	z-index: 10;
	padding: 5px 20px;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	color: #ffffff;
}
.sb-search-input::-webkit-input-placeholder {
	color: #ffffff;
}
.sb-search-input:-moz-placeholder {
	color: #ffffff;
}
.sb-search-input::-moz-placeholder {
	color: #efb480;
}
.sb-search-input:-ms-input-placeholder {
	color: #ffffff;
}
.sb-icon-search,.sb-search-submit  {
	width: 45px;
	height: 45px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	margin: 0;
	line-height: 45px;
	text-align: center;
	cursor: pointer;
}
.sb-search-submit {
	background: #333 url('./images/default/img-sprite.png') no-repeat 0px 1px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
   
	color: transparent;
	border: none;
	outline: none;
	z-index: -1;
	-webkit-appearance: none;
}
.sb-icon-search {
	color: #FFF;
background: #000 url('./images/default/img-sprite.png') no-repeat 0px 1px;
z-index: 90;
}


.c1{
	background: url('./images/default/img-sprite.png') no-repeat -66px -8px;
	width: 22px;
	height: 24px;
	display: inline-block;
	vertical-align: middle;
}
.icon1 .profile_img {
	margin-top: 3px;
}
.sub-icon1 ul li h3{
	text-align: center;
	font-size: 18px;
	color: #555;
	text-transform: uppercase;
	margin-bottom: 4%;
}
.sub-icon1 ul li p{
	text-align:center;
	font-size: 0.8125em;
	color: #555;
	line-height: 1.5em;
	margin:2% 0;
}
.sub-icon1.list{
	padding:20px;
}
.sub-icon1 ul li p a{
	color: #00405d;
}
.sub-icon1 ul li p a:hover{
	color: #555555;
	text-decoration:underline;
}

/* Nav End */

/* Main */
.content-top{
	padding:10% 0;
}
.content-top h2{
	color: #000;
	font-size:3em;
	font-weight: 800;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 1.5%;
}
.content-top p{
	color: #000;
	font-size: 0.95em;
	text-transform: uppercase;
	text-align: center;
	font-weight: 600;
	margin-bottom:1%;
}
.content-top h3{
	color:#000;
	font-size:1.5em;
	text-transform:uppercase;
	font-weight:700;
	text-align:center;
	margin:2% 0 0 0;
}
#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {
	display: none;
}
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
}
.nbs-flexisel-inner {
	overflow: hidden;
	margin: 0 auto;
}
.nbs-flexisel-item {
	float: left;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	position: relative;
	line-height: 0px;
}
.nbs-flexisel-item > img {
	width:100%;
	cursor: pointer;
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	max-width:210px;
	max-height:417px;
}
/* Main end */

/* Shop */
.shop_top{
	padding:5% 0;
}
.new-box {
	right:10px;
}
.new-box, .sale-box {
	position: absolute;
	top:16px;
	overflow: hidden;
	height: 38px;
	min-width: 70px;
	text-align: left;
	z-index: 0;
	display: inline-block;
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
.new-label {
	font-size: 0.85em;
	color: #FFF;
	background:#FFAF02;
	text-transform: uppercase;
	padding:9px;
	text-align: center;
	display: block;
	min-width: 70px;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1;
}
.sale-box {
	left:10px;
}
.sale-label {
	font-size: 0.85em;
	color: #FFF;
	background:#E92546;
	text-transform: uppercase;
	padding:9px;
	text-align: center;
	display: block;
	min-width: 70px;
	position: absolute;
	left: 0px;
	top: 0px;
}
.shop_box{
	position:relative;
	padding-bottom: 30px;
}

#shop_img{
	border-top:1px solid #E0E0E0;
	border-left:1px solid #E0E0E0;
	border-right:1px solid #E0E0E0;
}

.shop_desc{
	border:1px solid #E0E0E0;
	padding: 5%;
	padding-bottom: 30px;
}
.shop_desc h3{
	margin-bottom:5px;
}
.shop_desc h3 a{
	color: #333;
	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
}
.shop_desc h3 a:hover{
	color:#666;
}
.shop_desc p{
	color:#555;
	font-size:0.8125em;
	line-height:1.8em;
	margin-bottom:10px;
}
span.reducedfrom {
	text-decoration: line-through;
	margin-right: 8%;
	color: #888;
}
span.actual {
	color: #7DB122;
	font-size: 1em;
	color:#000
}
ul.buttons{
	list-style: none;
	padding: 0;
	margin-top: 10px;
}
.cart{
	float:left;
}
.shop_btn{
	float:right;
}
.shop_btn a, .cart a{
	color: #000;
	font-size: 0.8125em;
	text-transform: uppercase;
	font-weight: 600;
	text-decoration:none;
}
.shop_btn a:hover{
	color:#E92546;
}
.cart a:hover{
	color:#FFAF02;
}
.shop_box-top{
	margin-bottom:5%;
}
h3.m_2 {
	color: #555;
	margin-bottom: 20px;
	font-size: 1.5em;
	line-height: 1.2;
	font-weight: normal;
	letter-spacing: -1px;
	padding:0 1%;
	text-transform: uppercase;
}
h4.m_5{
	margin-top:7%;
}
h4.m_5 a{
	color: #555;
	font-size:0.95em;
	text-transform: uppercase;
	letter-spacing: -1px;
	text-decoration:none;
}
h4.m_5 a:hover{
	color:#000;
}
p.m_6{
	font-size:0.85em;
	color: #555;
	line-height: 1.5em;
}
.team_box{
	margin-bottom:5%;
}
ul.team_list{
	padding:0;
	list-style:none;
}
ul.team_list h4{
	color: #555;
	margin-bottom: 20px;
	font-size: 1.5em;
	line-height: 1.2;
	font-weight: normal;
	margin-top: 0px;
	letter-spacing: -1px;
	text-transform: uppercase;
}
ul.team_list li {
	margin: 0 0px 20px 15px;
}
ul.team_list li a {
	font-size: 0.85em;
	color: #222;
	text-transform: uppercase;
	text-decoration:none;
}
ul.team_list li a:hover {
	color:#444;
}
ul.team_list li p{
	color:#888;
	font-size:0.85em;
	line-height:1.5em;
}
p.m_7{
	color:#888;
	font-size:0.85em;
	line-height:1.5em;
	margin-bottom:2%;
}
.img_section{
	position:relative;
}
.img_section_txt {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	background:rgba(5, 5, 5, 0.43);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 14px 10px 14px 21px;
	color: #FFF;
	-webkit-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	-o-transition: all 0.6s ease;
	transition: all 0.6s ease;
}
.magnifier2:hover .img_section_txt {
	background:rgba(255, 0, 0, 0.36);
}
.ex_box{
	margin-bottom:5%;
}
p.m_8{
	color:#333;
	font-size:0.85em;
	line-height:1.8em;
	margin-bottom:5%;
}
.address p {
	font-size:0.85em;
	line-height:2em;
}
.address p span:hover {
	text-decoration: none;
}
.address p span {
	text-decoration: underline;
	color: #555;
	cursor: pointer;
}
.contact{
	margin-top: 5%;
}
.to{
	float:left;
	width:50%;
}
.to input[type="text"] {
	padding: 10px;
	width:95%;
	font-size: 0.85em;
	font-family: 'Open Sans', sans-serif;
	margin: 10px 0;
	border: none;
	color: #888;
	background:#F8F8F8;
	float: left;
	outline: none;
	border:1px solid #DFE0E2;
}
.to input[type="text"]:hover, .text input[type="text"], .text textarea:hover{
	border-color:#E25050;
}
.text {
	width:50%;
	float:left;
}
.text input[type="text"], .text textarea {
	width:100%;
	font-size: 0.85em;
	margin: 10px 0;
	border: none;
	color: #888;
	font-family: 'Open Sans', sans-serif;
	outline: none;
	background:#F8F8F8;
	height: 100px;
	padding: 10px;
	resize: none;
	border:1px solid #DFE0E2;
}
.form-submit{
	float:right;
}
.form-submit input[type="submit"] {
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.95em;
	font-weight: normal;
	padding:15px 40px;
	text-transform: uppercase;
	background:#E25050;
	display: inline-block;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	font-weight: 100;
	border: none;
	cursor: pointer;
	outline:none;
}
.form-submit input[type="submit"]:hover {
	background:#333;
}
/* Shop End */

/*--single--*/
.single_image{
	width:36.5%;
    float: left;
    
	border-top:1px solid #E0E0E0;
	border-left:1px solid #E0E0E0;
	border-right:1px solid #E0E0E0;
	border-bottom:1px solid #E0E0E0;
}

#image-single{
	border-top:1px solid #E0E0E0;
	border-left:1px solid #E0E0E0;
	border-right:1px solid #E0E0E0;
	border-bottom:1px solid #E0E0E0;
}

.single_right{
	width: 60.5%;
	float: left;
}
.single_right h3{
	color: #222;
	font-size: 1.1em;
	text-transform: uppercase;
	margin-bottom: 10px;
	font-weight: 700;
}
.btn1-default1 {
	outline: none;
	border: 1px solid #CACACA;
	background: #FFF;
	padding: 5px 10px;
	font-size: 0.85em;
}
.btn1-twitter:hover {
	color: #FFF;
	background-color: #00AAF0;
}
i.icon-twitter{
	height: 20px;
	width: 20px;
	background: url(./images/default/img-sprite.png)no-repeat -260px -318px;
	float: left;
	margin-right: 2px;
}
.btn1-twitter:hover i{
	background: url(./images/default/img-sprite.png)no-repeat -260px -341px;
}
i.icon-facebook{
	height: 20px;
	width: 20px;
	background: url(./images/default/img-sprite.png)no-repeat -292px -317px;
	float: left;
	margin-right: 2px;
}
.btn1-facebook:hover i{
	background: url(./images/default/img-sprite.png)no-repeat -292px -341px;
}
.btn1-facebook:hover {
	color: #FFF;
	background-color:#435F9F;
}
i.icon-google{
	height: 20px;
	width: 20px;
	background: url(./images/default/img-sprite.png)no-repeat -321px -317px;
	float: left;
	margin-right: 2px;
}
.btn1-google:hover i{
	background: url(./images/default/img-sprite.png)no-repeat -321px -341px;
}
.btn1-google:hover {
	color: #FFF;
	background-color:#E04B34;
}
i.icon-pinterest{
	height: 20px;
	width: 20px;
	background: url(./images/default/img-sprite.png)no-repeat -353px -318px;
	float: left;
	margin-right: 2px;
}
.btn1-pinterest:hover i{
	background: url(./images/default/img-sprite.png)-repeat -353px -342px;
}
.btn1-pinterest:hover {
	color: #FFF;
	background-color:#CE1F21;
}
.social_buttons h4{
	color: #08080B;
	font-weight: 700;
	font-size: 0.8125em;
	padding-bottom: 0.5em;
	display: block;
	text-transform:uppercase;
	margin-bottom:5px;
}
p.m_10{
	color: #333;
	font-size: 0.8125em;
	line-height: 1.8em;
	margin-bottom:5%;
}
.btn_form{
	margin-bottom:5%;
}
.btn_form form input[type="submit"] {
	font-family: 'Open Sans', sans-serif;
	cursor: pointer;
	border: none;
	outline: none;
	display: inline-block;
	font-size: 0.85em;
	padding: 10px 30px;
	background: #333;
	color: #FFF;
	text-transform: uppercase;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.btn_form form input[type="submit"]:hover {
	background: #FFAF02;
}
ul.add-to-links {
	margin-bottom: 3%;
	list-style: none;
	padding: 0;
}
ul.add-to-links img {
	vertical-align: middle;
}
ul.add-to-links a {
	color: #000;
	font-size: 0.85em;
}
ul.product-colors{
	list-style:none;
	padding:0;
	margin-bottom: 5%;
}
.product-colors h3, .prosuct-qty span {
	color: #08080B;
	font-weight: 700;
	font-size: 0.8125em;
	padding-bottom: 0.5em;
	display: block;
	text-transform: uppercase;
	margin-bottom: 5px;
}
.product-colors li {
	display: inline-block;
}
.product-colors li a span {
	width: 32px;
	height: 32px;
	display: inline-block;
}
.color1 span {
	background:#45BF55;
}
.color2 span {
	background:#0AA5E2;
}
.color3 span {
	background:#EE82EE;
}
.color4 span {
	background:orange;
}
.color4 span {
	background:gray;
}
.color5 span {
	background:yellow;
}
.color6 span {
	background:red;
}
.box-info-product{
	background: #FFF;
	border: 1px solid #D2D0D0;
	border-top: 1px solid #B0AFAF;
	border-bottom: 1px solid #B0AFAF;
	padding:7%;
}
p.price2{
	color:#333;
	font-size:2em;
	font-weight:700;
	margin-bottom: 5%;
}
.prosuct-qty {
	margin-bottom: 1.5em;
	padding:0;
}
.prosuct-qty select {
	font-family: 'Open Sans', sans-serif;
	border: 1px solid #EEE;
	padding: 5% 41%;
	font-size: 1em;
	outline: none;
}
.prosuct-qty option {
	border: 1px solid #EEE;
	font-family: 'Open Sans', sans-serif;
}
.box-info-product .exclusive {
	border:none;
	outline: none;
	position: relative;
	display: block;
	background:#9B1010;
}
.box-info-product .exclusive span {
	font-weight: 700;
	font-size: 20px;
	line-height: 22px;
	padding: 12px 36px 14px 60px;
	color: #FFF;
	display: block !important;
}
.box-info-product .exclusive:after {
	border-left: 1px solid #fff;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 51px;
	content: "";
	width: 1px;
	z-index: 2;
}
.box-info-product .exclusive:before {
	background: url(./images/default/img-sprite.png) no-repeat -401px -308px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	color: #FFF;
	font-size: 25px;
	line-height: 47px;
	content: "";
	z-index: 2;
	width: 51px;
	text-align: center;
}
.box-info-product .exclusive:hover {
	background: #303030;
	background-position: 0 0;
}
.desc{
	margin-bottom:5%;
}
.desc h4{
	color:#333;
	font-size:1.5em;
	margin-bottom:1%;
	text-transform:uppercase;
}
.desc p{
	color:#555;
	font-size:0.85em;
	line-height:1.8em;
}
h4.m_11{
	color:#333;
	font-size:1.2em;
	text-transform:uppercase;
	padding:0 1%;
	margin-bottom:2%;
}
h4.m_12{
	color: #08080B;
	font-weight: 700;
	font-size: 0.8125em;
	padding-bottom: 0.5em;
	display: block;
	text-transform: uppercase;
}
ul.options{
	list-style:none;
	padding:0;
	margin-bottom:7%;
}
ul.options li {
	margin: 0 1% 0 0;
	display: inline-block;
}
ul.options li a {
	color: #000;
	font-size: 0.8125em;
	padding: 5px 10px;
	border: 1px solid #DFDDDD;
	text-decoration:none;
}
ul.options li a:hover {
	border: 1px solid #FFAF02;
}
/* Single end */


/* Footer */
.footer{
	background:#000;
	padding:5% 0;
}		
ul.footer_box{
	list-style:none;
	padding:0;
}	
ul.footer_box h4{
	color:#fff;
	font-size:1.1em;
	text-transform:uppercase;
	font-weight:700;
	margin-bottom: 8%;
}
ul.footer_box li a{
	color: #B8B6B6;
	font-size: 0.8125em;
	text-decoration:none;
	line-height: 2em;
}
ul.footer_box li a:hover{
	color:#fff;
}
.footer_search {
	margin-top: 10%;
	width:100%;
	position:relative;
}
.footer_search input[type="text"] {
	outline: none;
	padding: 12px 15px;
	outline: none;
	color: #202020;
	background: #FFF;
	border: none;
	width: 74%;
	line-height: 1.5em;
	font-size: 0.8125em;
}
.footer_search  input[type="submit"] {
	background: #C7C7C7;
	padding: 9px 19px;
	border: none;
	cursor: pointer;
	position: absolute;
	line-height: 1.6em;
	font-size: 1em;
	color: #000;
	font-weight: 800;
	outline: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.footer_search  input[type="submit"]:hover {
	background:#222;
	color:#fff;
/* Footer */

/* Footer socials */
}
ul.social{
	list-style:none;
	padding:0;
	margin-top: 17%;
}	
ul.social li:first-child, ol li:first-child {
	margin-top: 0px;
	margin-left: 0;
}
ul.social li{
	display:inline-block;
	margin-right:8px;
}	
ul.social li a span:hover{
	opacity:0.5;
}		
li.facebook a span {
	height: 25px;
	width: 25px;
	display: block;
	background: url(./images/default/img-sprite.png)no-repeat -256px -276px;
}
li.twitter a span {
	height: 25px;
	width: 25px;
	display: block;
	background: url(./images/default/img-sprite.png)no-repeat -298px -276px;
}
li.instagram a span {
	height: 25px;
	width: 25px;
	display: block;
	background: url(./images/default/img-sprite.png)no-repeat -346px -276px;
}
li.pinterest a span {
	height: 25px;
	width: 25px;
	display: block;
	background: url(./images/default/img-sprite.png)no-repeat -391px -276px;
}	
li.youtube a span {
	height: 25px;
	width: 47px;
	display: block;
	background: url(./images/default/img-sprite.png)no-repeat -437px -276px;
}	
/* Footer Social End */

.alert{
	padding: 1rem;
	border: 0.1rem solid transparent;
	border-radius: 0.5rem;
}

.alert-info{
	color: #2020a0;
	background: #e0e0ff;
}

.alert-success{
	color: #2020a0;
	background: #e0e0ff;
	border: 3px solid;
	border-color: black;

}

.alert-danger{
	color: #a02020;
	background: #ffe0e0e0;
	border: 3px solid;
	border-color: black;

}

/* Map start */
.map{
	color:#666;
	text-align:left;
	font-size:12px
}
/* Map end */





/*--shop--*/
.shop_top{
	padding:5% 0;
}
.new-box {
	right:10px;
}
.new-box, .sale-box {
	position: absolute;
	top:16px;
	overflow: hidden;
	height: 38px;
	min-width: 70px;
	text-align: left;
	z-index: 0;
	display: inline-block;
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
.new-label {
	font-size: 0.85em;
	color: #FFF;
	background:#FFAF02;
	text-transform: uppercase;
	padding:9px;
	text-align: center;
	display: block;
	min-width: 70px;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1;
}
.sale-box {
	left:10px;
}
.sale-label {
	font-size: 0.85em;
	color: #FFF;
	background:#E92546;
	text-transform: uppercase;
	padding:9px;
	text-align: center;
	display: block;
	min-width: 70px;
	position: absolute;
	left: 0px;
	top: 0px;
}
.shop_box{
	position:relative;
}
.shop_desc{
	border:1px solid #E0E0E0;
	padding:5%;
}
.shop_desc h3{
	margin-bottom:5px;
}
.shop_desc h3 a{
	color: #333;
	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
}
.shop_desc h3 a:hover{
	color:#666;
}
.shop_desc p{
	color:#555;
	font-size:0.8125em;
	line-height:1.8em;
	margin-bottom:10px;
}
span.reducedfrom {
	text-decoration: line-through;
	margin-right: 8%;
	color: #888;
}
span.actual {
	color: #7DB122;
	font-size: 1em;
	color:#000
}
ul.buttons{
	list-style: none;
	padding: 0;
	margin-top: 10px;
}
.cart{
	float:left;
}
.shop_btn{
	float:right;
}
.shop_btn a, .cart a{
	color: #000;
	font-size: 0.8125em;
	text-transform: uppercase;
	font-weight: 600;
	text-decoration:none;
}
.shop_btn a:hover{
	color:#E92546;
}
.cart a:hover{
	color:#FFAF02;
}
.shop_box-top{
	margin-bottom:5%;
}
h3.m_2 {
	color: #555;
	margin-bottom: 20px;
	font-size: 1.5em;
	line-height: 1.2;
	font-weight: normal;
	letter-spacing: -1px;
	padding:0 1%;
	text-transform: uppercase;
}
h4.m_5{
	margin-top:7%;
}
h4.m_5 a{
	color: #555;
	font-size:0.95em;
	text-transform: uppercase;
	letter-spacing: -1px;
	text-decoration:none;
}
h4.m_5 a:hover{
	color:#000;
}
p.m_6{
	font-size:0.85em;
	color: #555;
	line-height: 1.5em;
}
.team_box{
	margin-bottom:5%;
}
ul.team_list{
	padding:0;
	list-style:none;
}
ul.team_list h4{
	color: #555;
	margin-bottom: 20px;
	font-size: 1.5em;
	line-height: 1.2;
	font-weight: normal;
	margin-top: 0px;
	letter-spacing: -1px;
	text-transform: uppercase;
}
ul.team_list li {
	/* list-style-image: url(../images/marker.png); */
	margin: 0 0px 20px 15px;
}
ul.team_list li a {
	font-size: 0.85em;
	color: #222;
	text-transform: uppercase;
	text-decoration:none;
}
ul.team_list li a:hover {
	color:#444;
}
ul.team_list li p{
	color:#888;
	font-size:0.85em;
	line-height:1.5em;
}
p.m_7{
	color:#888;
	font-size:0.85em;
	line-height:1.5em;
	margin-bottom:2%;
}
.img_section{
	position:relative;
}
.img_section_txt {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	background:rgba(5, 5, 5, 0.43);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 14px 10px 14px 21px;
	color: #FFF;
	-webkit-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	-o-transition: all 0.6s ease;
	transition: all 0.6s ease;
}
.magnifier2:hover .img_section_txt {
	background:rgba(255, 0, 0, 0.36);
}
.ex_box{
	margin-bottom:5%;
}
p.m_8{
	color:#333;
	font-size:0.85em;
	line-height:1.8em;
	margin-bottom:5%;
}
.address p {
	font-size:0.85em;
	line-height:2em;
}
.address p span:hover {
	text-decoration: none;
}
.address p span {
	text-decoration: underline;
	color: #555;
	cursor: pointer;
}
.contact{
	margin-top: 5%;
}
.to{
	float:left;
	width:50%;
}
.to input[type="text"] {
	padding: 10px;
	width:95%;
	font-size: 0.85em;
	font-family: 'Open Sans', sans-serif;
	margin: 10px 0;
	border: none;
	color: #888;
	background:#F8F8F8;
	float: left;
	outline: none;
	border:1px solid #DFE0E2;
}
.to input[type="text"]:hover, .text input[type="text"], .text textarea:hover{
	border-color:#E25050;
}
.text {
	width:50%;
	float:left;
}
.text input[type="text"], .text textarea {
	width:100%;
	font-size: 0.85em;
	margin: 10px 0;
	border: none;
	color: #888;
	font-family: 'Open Sans', sans-serif;
	outline: none;
	background:#F8F8F8;
	height: 100px;
	padding: 10px;
	resize: none;
	border:1px solid #DFE0E2;
}
.form-submit{
	float:right;
}
.form-submit input[type="submit"] {
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.95em;
	font-weight: normal;
	padding:15px 40px;
	text-transform: uppercase;
	background:#E25050;
	display: inline-block;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	font-weight: 100;
	border: none;
	cursor: pointer;
	outline:none;
}
.form-submit input[type="submit"]:hover {
	background:#333;
}



/* Stuff */

.col-1 {
	flex: 1 1 25rem;
  }

.card {
	border: 0.1rem #c0c0c0 solid;
	background-color: #f8f8f8;
	border-radius: 0.5rem;
	margin: 1rem;
  }
  .card-body {
	padding: 1rem;
  }
  .card-body > * {
	margin-bottom: 0.5rem;
  }
  .price {
	font-size: 2rem;
  }

  .product-slider H2{
	  text-align: center;
	  font-weight: bold;
	  font-size: 45px;
  }

  .product-slider p{
	  text-align: center;
  }
  .loading {
	display: block !important;
  }


/* Form */
.form {
	max-width: 60rem;
	margin: 0 auto;
  }
  .form > div {
	display: flex;
	flex-direction: column;
	margin: 1rem;
  }
  .form label {
	margin: 1rem 0;

  }

  /* Dropdown */
.dropdown {
	display: inline-block;
	position: relative;
  }
  .dropdown-content {
	position: absolute;
	display: none;
	right: 0;
	min-width: 12rem;
	padding: 1rem;
	z-index: 1;
	background-color: #203040;
	margin: 0;
	margin-top: 0.4rem;
	border-radius: 0.5rem;
  }
  .dropdown:hover .dropdown-content {
	display: block;
  }



  .checkout-steps > div {
	border-top: 0.3rem #c0c0c0 solid;
	color: #c0c0c0;
	flex: 1;
	padding: 1rem;
	font-weight: bold;
  }
  .checkout-steps > div.active {
	border-top-color: #f08000;
	color: #f08000;
  }

.carousel-item{
	height: 1200px;
	width: 100%;
}

.carousel-caption{
	text-align: center;
}

.content-team {
	width:100%;
	background: url(../src/images/logos/fllysentautomotive2.png)no-repeat center top;
	-webkit-background-size: auto;
	-moz-background-size: auto;
	-o-background-size: auto;
	background-size: auto;
	background-position: center;
	background-size: 100% 100%;
	height:100%;
	padding:15% 0;
	color: white;
	font-size: 50px;
}

.meetTheTeam h3{
	text-align: center;
	font-weight: bold;
	font-size: 30px;
}
  

